.row{
    background-color: aqua;
    margin: 2px;
    min-width: fit-content;
}

.all_rows{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.compared{
    background-color: red;
}